html
	head
		include src/link.pug
	body
		include src/header.pug
		include src/info.pug
		include src/bonus.pug
		include src/carousel.pug
		include src/require.pug
		include src/tutorial.pug
		include src/article.pug
		include src/footer.pug
