section.article
	article.block-left
		.video
			.video__frame
	article.block-right
		.list-news
			h2 статті
			.articles
				.card-group
					.card-group__card 
						.card-group__date
							.card-group__day 14
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 			    
					.card-group__card
						.card-group__date
							.card-group__day 08
							.card-group__month 11.2017
						.card-group__content
							a Moneyveo вдруге отримала звання «Кращого сервісу кредитів онлайн»
					.card-group__card
						.card-group__date
							.card-group__day 09
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 
				.card-group
					.card-group__card
						.card-group__date
							.card-group__day 14
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 
					.card-group__card
						.card-group__date
							.card-group__day 14
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 
					.card-group__card
						.card-group__date
							.card-group__day 14
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 
				.card-group
					.card-group__card
						.card-group__date
							.card-group__day 14
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 
					.card-group__card
						.card-group__date
							.card-group__day 14
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 
					.card-group__card
						.card-group__date
							.card-group__day 14
							.card-group__month 11.2017
						.card-group__content
							a як встигнути на всі знижки у Чорну п'ятницю та Кіберпонеділок? 
			.button-paginator
				.button-group
					a.btn
					a.btn
					a.link-all-articles всі статті