section.bonus
	header.header
		h2 беріть участь у програмі лояльності
		p ставайте постійним клієнтом і отримуйте знижку на процентну ставку 
	article.images
		img(class="images__item" src="images/bag-01a.png")
		img(class="images__item" src="images/bag-02a.png")
		img(class="images__item" src="images/bag-03a.png")
		img(class="images__item" src="images/bag-04a.png")
	.button
		button.btn дізнатися більше