section.carousel
    h3.carousel__main-title НАШИ ПРЕИМУЩЕСТВА
    div.slide.slide_active
        img(src="/images/carousel/slide-1.png" alt="slide image").slide__img
        div.slide-content
            h4.slide-content__title Пролонгация
            p.slide-content__text Продлеваем срок кредита, если вы не успели погасить займ вовремя.
    div.slide
        img(src="images/carousel/slide-2.png" alt="slide image").slide__img
        div.slide-content
            h4.slide-content__title Круглосуточная работа сервиса
            p.slide-content__text Оформить кредит онлайн можна 24/7 благодаря автоматизированой системе обработки заявок.
    div.slide
        img(src="images/carousel/slide-3.png" alt="slide image").slide__img
        div.slide-content
            h4.slide-content__title Программа "Приведи друга"
            p.slide-content__text Получайте денежный бонус за каждого нового пользователя, который взял онлайн кредит по вашей рекомендации.
    div.slide
        img(src="images/carousel/slide-4.png" alt="slide image").slide__img
        div.slide-content
            h4.slide-content__title Акции для всех клиентов
            p.slide-content__text Скидки на повторные кредиты, розыгрыши с ценными призами.
    div.slide
        img(src="images/carousel/slide-5.png" alt="slide image").slide__img
        div.slide-content
            h4.slide-content__title Кредит под 0,01%
            p.slide-content__text Для новых клиентов действует постоянное предложение - ставка на первый онлайн кредит всего 0,01% в день.
    ul.carousel-indicators
                li.carousel-indicators__indicator.carousel-indicators__indicator_active
                li.carousel-indicators__indicator
                li.carousel-indicators__indicator
                li.carousel-indicators__indicator
                li.carousel-indicators__indicator