footer
	section.footer
		.footer__container
			.footer__block_links1
				.footer__link_left
					ul
						li О нас
						li Акции
						li Справка
						li Как это работает
						li Контакты
						li Статьи
						li Условия использования
						li Вакансии
				.footer__service
					h3 Сервис работает 24/7
			.footer__block_invite_friend
				p Зарабатывай с Moneyveo по нашей партнерской программе
				a.btn
			.footer__social_networks
				.footer__icons
					a.icon(href='https://www.facebook.com/moneyveo', rel='nofollow', target='_blank')
					img(src='https://moneyveo.ua/ImageBrowser/Image/?path=icons%2F004-facebook-1.png', alt='icon')
					a.icon(href='https://plus.google.com/+MoneyveoUA/posts', rel='nofollow', target='_blank')
					img(src='https://moneyveo.ua/ImageBrowser/Image/?path=icons%2F002-google-plus-1.png', alt='icon')
					a.icon(href='https://twitter.com/MoneyveoHQ', rel='nofollow', target='_blank')
					img(src='https://moneyveo.ua/ImageBrowser/Image/?path=icons%2F003-twitter-1.png', alt='icon')
					a.icon(href='https://www.instagram.com/moneyveo.ua/', rel='nofollow', target='_blank')
					img(src='https://moneyveo.ua/ImageBrowser/Image/?path=icons%2F001-instagram-1.png', alt='icon')
					a.icon(href='https://www.youtube.com/channel/UCgIBYAaj-qRslOdvklNqufg', rel='nofollow', target='_blank')
					img(src='https://moneyveo.ua/ImageBrowser/Image/?path=icons%2F005-youtube-1.png', alt='icon')
					span.copyright © 2013 - 2017 Moneyveo
			.footer__block_link2
				.footer__link_right
					ul
						li Служба поддержки:
						li 0 800 21 9393
						li бесплатно со всех телефонов по Украине
						li Время работы поддержки:
						li Пн–Пт: 9:00 — 21:00
						li Сб–Вс: 9:00 — 18:00
					a.btn




