section.require.grid
	h2 Требования для получения кредита
	.cont_options.grid
		.require__bank_card
			img(src='/images/icon-tab1.png', alt='', title='Банковская карта')
			span Банковская карта
		.require__age_restriction
			img(src='/images/33.png', alt='', title='Быть старше 18 лет')
			span Возраст 18-90 лет
		.require__passport
			img(src='/images/13.png', alt='', title='Паспорт и ИНН')
			span Паспорт и ИНН
		.require__telefon
			img(src='/images/34.png', alt='', title='Телефон и email')
			span Телефон и email
