section.tutorial.grid
	ul.tutorial__tabs
		li
			p
				h3 Как взять кредит онлайн
		li
			p
				h3 Как погасить Кредит
.tutorial__first.grid
	.tutorial__application
		.img
		span 1. Заполнити заявку
		p Процесс занимает всего несколько минут, а при повторном обращении - всего несколько кликов!
	.tutorial__decision
		.img
		span 2. Дождитесь решения
		p Система принимает решение моментально и отправляет его Вам по SMS и email.
	.tutorial__receive_money
		.img
		span 3. Получите деньги
		p При положительном решении система мгновенно отправляет деньги на вашу карточку.
.tutorial__second.grid
	.tutorial__bank_card
		.img
		span 1. Банковская карта
		p С помощью карты любого украинского банка погасите кредит через ваш Личный кабинет
		span.arrow
	.tutorial__privat
		.img
		span 2. Приват 24
		p Авторизируйтесь в интернет-банкинге и введите реквизиты компании Moneyveo
		span.arrow
	.tutorial__terminal
		.img
		span 3. Платежные терминалы
		p Возвращайте кредит через сети: City 24, 24nonStop, EasyPay, iBox, Tyme и ПриватБанк.
		span.arrow
	.tutorial__bank_transfer
		.img
		span 4. Банковский перевод
		p Обращайтесь в отделение любого банка Украины и отправляйте деньги по нашим реквизитам
		span.arrow
	.tutorial__phone
		.img
		span 5. По телефону
		p Клиенты ПриватБанка могут позвонить по короткому номеру 3700 (с мобильного), выбрать карту для оплаты, указать свой номер и наши реквизиты.
		span.arrow

	